@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #123142;
    font-family: 'Titillium Web', sans-serif;
    overflow: none;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    padding: 0;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box {
    width: 40%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.texto h1 {
    font-size: 60px;
    font-weight: 900;
}

.texto p {
    font-size: 22px;
}

.box img {
    width: 350px;
    height: 350px;
}

section {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

h1 {
    font-size: 60px;
    color: #ffffff;
}

.progresso {
    width: 70%;
    height: 50vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;

    color: #ffffff;
}

.progress {
    width:  50%;
    height: 5%;
}

.progress-bar {
    font-weight: 900;
}

label {
    font-size: 20px;
    font-weight: 900;
}

main {
    width: 100%;
    height: 70vh;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 30px;

    overflow: hidden;
}

.projetos {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card img {
    width: 150px;
    height: 150px;
}

.card{
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.informacoes {
    width: 100%;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info {
    width: 30%;
}

.list-group {
    font-weight: 900;
    text-align: center;
}

@media (max-width: 576px) {
    header {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    h1 {
        font-size: 35px;
    }

    .box {
        width: 80%;
        height: 40%;
        font-size: 18px;
    }

    .box img {
        width: 200px;
        height: 200px;
    }

    .progress {
        width: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 20px;
        height: 140vh;
        overflow: scroll;
    }

    .projetos {
        display: flex;
        flex-direction: column;
    }

    .col-sm {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .info {
        width: 80%;
    }
}